@import "../common/vars";
@import "../common/mixins";

.blog-details {
  .head-page {
    height: 344px;
  }

  .section-title {
    color: #fff;
  }
}

.blog-details-description {
  padding: 80px 0 75px;

  > h3 {
    display: block;
    max-width: 320px;
    font-size: 36px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  > p, li {
    font-size: 16px;
    line-height: 22px;
  }

  > p {
    color: $secondary-color;
    margin: 30px 0;


    a {
      color: #2D88D1;
      font-weight: 500;
    }
  }

  > ul {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 24px;

    li {
      color: $secondary-color;
    }
  }

  img {
    height: 100%;
  }

  img.align-right {
    float: right;
    padding: 0 0 70px 10%;
    width: 60%;
  }

  img.align-left {
    float: left;
    width: 50%;
    padding: 0 10% 70px 0;
  }

  h3 + p, h3 + ul {
    margin: 40px 0 30px;
  }

  img.align-left > p, img.align-left > ul,{
    width: 50%;
    padding-right: 10%;
    margin-left: auto;
  }
}
