@import "../common/vars";
@import "../common/mixins";

.blog-details {
  .head-page {
    height: 344px;
  }

  .section-title {
    color: #fff;
  }
}

.blog-details-description {
  margin-top: 80px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > div:not(:first-of-type, :nth-of-type(2)) {
    margin-top: 70px;
  }

  .align-left, .align-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    > span {
      display: block;
      max-width: 320px;
      font-size: 36px;
      line-height: 32px;
      font-weight: 700;
      margin-bottom: 50px;
    }

    > p, li {
      font-size: 16px;
      line-height: 22px;
    }

    > p {
      color: $secondary-color;
      max-width: 520px;


      a {
        color: #2D88D1;
        font-weight: 500;
      }
    }

    > ul {
      margin: 30px 0;
      padding-left: 24px;
      max-width: 520px;

      li {
        color: $secondary-color;
      }
    }
  }

  .align-left {
    width: 40%;
  }

  .align-right {
    width: 50%;
  }
}
