@import "../common/vars";
@import "../common/mixins";

.licenses {
}


.licenses-content {
  background: #7D92A4;
  display: flex;
  padding: 0 0 260px;
  position: relative;

  .section-title {
    width: 50%;
    padding-top: 102px;
    color: #fff;
    padding-left: 86px;
  }
  
  .text {
    width: 50%;
    padding: 102px 46px 244px 114px;
    background: #F1F6FB;
    color: $grey;
  }
  .certificates {
    position: absolute;
    bottom: 118px;
    left: 86px;
    img {
      width: 213px;
      height: 307px;
      margin-right: 22px;
    }
  }
}