@import "../common/mixins";
@import "../common/vars";

.logistics {
  background: $primary-color;
  position: relative;
  height: 100vh;
  min-height: 957px;
}

.logistics-content {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  margin: 0 14.09% 0 4.86%;

  > div {
    color: #fff;

    &:first-of-type {
      display: flex;
      flex-direction: column;
    }

    span {
      &:first-of-type {
        font-size: 64px;
        line-height: 75px;
        font-weight: 700;
        margin-bottom: 25px;
      }

      &:last-of-type {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        max-width: 190px;
      }
    }

    p {
      margin-top: 15px;
      font-size: 24px;
      line-height: 32px;
      font-weight: 300;
      max-width: 502px;
    }
  }
}

.map {
  position: absolute;
  top: 33px;
  left: 0;

  svg {
    z-index: 2;

    path[data-disable='false'] {
      fill: #26684B;

      &:hover {
        fill: #26684B;
        stroke: #fff;
        cursor: pointer;
      }
    }

    path {
      transition: all .3s ease;
      z-index: 5;
      opacity: 0;
    }
  }

  .description {
    position: absolute;
    z-index: 1;

    pointer-events: none;

    .circle {
      position: relative;
      width: 11px;
      height: 11px;
      border-radius: 100%;
      background: #fff;
      opacity: 0;
      animation: .5s ease forwards;

      .circle-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 11px;
        height: 11px;
        background: transparent;
        border-radius: 100%;
        animation: .7s ease forwards;
        animation-delay: .5s;
      }

      .line {
        position: absolute;
        border-bottom: 1px solid #fff;
        width: 510px;
        right: 11px;
        top: 5px;
        animation: .7s ease forwards;
        animation-delay: 1.2s;
        opacity: 0;
      }
    }

    .text {
      color: #fff;
      width: 180px;
      position: absolute;
      top: 13px;
      left: -510px;
      opacity: 0;
      animation: .5s ease forwards;
      animation-delay: 1.7s;

      .name {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        display: block;
        margin-bottom: 6px;

      }

      .address {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        display: block;
      }
    }

  }

  .description.description-revert {
    transform: rotate(180deg) scale(1, -1);

    .text {
      transform: scale(-1, 1);
      text-align: right;
    }
  }
}

