@import "../common/vars";
@import "../common/mixins";

.services {

}

.services-hero {
  display: flex;
  position: relative;
  z-index: 5;


  .image {
    width: 41.11%;
    position: relative;

    .bg {
      width: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      height: 100%;
    }

    img {
      width: 41.11vw;
      height: 100%;
      object-fit: cover;
    }

    svg {
      position: absolute;
      bottom: -70px;
      left: -110px;
      overflow: hidden;

      path {
        stroke-width: 0;
        width: 0;
        stroke: none;
        stroke-opacity: 0;
      }
    }
  }

  .text {
    width: 58.89%;
    padding: 0 191px 10% 5.34%;

    .breadcrumb {
      margin: 54px 0 12px;
    }

    > span {
      margin-bottom: 30px;
    }

    p, li {
      color: $secondary-color;
    }

    p {
      margin: 30px 0;
    }

    ul {
      margin-bottom: 30px;
      padding-left: 18px;
    }
  }
}

.services-order {
  width: 100%;
  position: relative;
  margin-top: -65px;

  .image {
    position: absolute;
    left: 0;
    top: 50%;
    height: 79%;
    transform: translateY(-50%);
    z-index: 10;

    .bg {
      overflow: hidden;
      width: 0;
      height: 100%;

      img {
        width: 48.95vw;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  > .text {
    width: 71.87%;
    height: auto;
    background: $primary-color;
    margin-left: auto;
    padding-bottom: 100px;
    padding-left: 30.55%;

    > ul {
      padding: 255px 0 0 0;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 50px;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 80px;
          background: #313E48;
          border-radius: 100%;
        }

        > .text {
          margin-left: 30px;

          span {
            color: #fff;
            font-size: 34px;
            line-height: 40px;
            font-weight: 700;
            display: block;
            margin-bottom: 17px;
            max-width: 300px;
          }

          p {
            color: #fff;
            max-width: 250px;
          }
        }
      }
    }

    a {
      margin: 76px 0 0;
      width: 250px;
      height: 80px;
    }
  }
}